<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <%- include('./error_messages'); %>
  <% if(isAuth) { %>
    <h2>タスクの追加</h2>
    <form action="/" method="post">
      <div class="form-group">
        <label>タスクの追加</label>
        <input required type="text" name="add" placeholder="何をする?" class="form-control"/>
      </div>
      <button type="submit" class="btn btn-primary">追加</button>
    </form>
    <ul class="list-group mt-3">
      <% for(let todo of todos){ %>
        <li class="list-group-item <%= todo.completed ? 'completed' : '' %>">
          <span><%= todo.content %></span>
          <button onclick="completeTask(this)" class="btn btn-success btn-sm float-right">完了</button>
          <form action="/delete/<%= todo.id %>" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm float-right">削除</button>
          </form>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <h1>Welcome to the TodoApp</h1>
    <a href="/signup" class="btn btn-primary">Sign up now!</a>
  <% } %>
</div>
<script>
  function completeTask(button) {
    const listItem = button.parentElement;
    listItem.classList.toggle('completed');
  }
</script>
</body>
</html>
